body {
  background: linear-gradient(135deg, #f8ffe8 0%,#87d2cd 70%,#e0f6fc 100%);
}

.back {
  background-color: #e0f6fc;
}

.topbar .col-md-1 {
  padding: 35px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.profile_banner {
  background-color: #efffff;
}

.headshot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border-style: solid;
  border-width: medium;
  border-color: lightgrey;
}

.profile_text_L{
  font-family: 'Trebuchet MS';
  padding-top: 60px;
  text-align: center;
}

.profile_text_R {
  font-family: 'Trebuchet MS';
  padding-top: 60px;
  text-align: center;
}

.name_main {
  font-family: ‘Palatino Linotype’;
  text-align: center;
}

.h5main {
  font-family: 'Trebuchet MS';
  text-align: center;
}

.jumbotron {
  background-color: inherit;
  font-family: serif;
  text-align: center;
}

.about {
  /*border-style: solid;
  border-color: lightblue;*/
  font-family: inherit;
  padding-left: 150px;
  padding-right: 150px;
}

.about h3{
  font-size: 34px;
  padding-left: 10px;
}

.about_body {
  font-family: serif;
  font-size: 18px;
}

.quickspan {
  font-weight: bolder;
}

.img_resize {
  max-width: 80%;
  float: top;
  margin-left: auto;
  margin-right: auto;
}

#ti83 {
  float: right;
  width: 60px;
  padding-left: 10px;
  padding-bottom: 20px;
}

.bodyrow1 {
  padding-left: 100px;
  padding-right: 100px;
}

.bodyrow2 {
  padding-left: 100px;
  padding-right: 100px;
}
