.back {
  background-color: #e0f6fc;
}

.name_main {
  font-family: ‘Palatino Linotype’;
  text-align: center;
}

.h5main {
  font-family: 'Trebuchet MS';
  text-align: center;
}

.jumbotron {
  background-color: inherit;
  font-family: serif;
  text-align: center;
}

.about {
  padding: 100px;
}

.aboutp1 {
  font-family: serif;
  font-size: 20px;
}

.profile_banner {
  /*background-color: #f4f8ff;*/
}

.headshot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border-style: solid;
  border-width: medium;
  border-color: lightgrey;
}

.profile_text_L{
  font-family: 'Trebuchet MS';
  padding-top: 60px;
  text-align: center;
}

.profile_text_R {
  font-family: 'Trebuchet MS';
  padding-top: 60px;
  text-align: center;
}

body {

}
